
body {
    background: #D8DFE8;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    margin: auto;
}

header img {
    position: absolute;
    width: 200px;
    margin: 0 30px;
    cursor: pointer;
}

#principal {
    background: #0A3871;
}

#principal img{
    position: relative;
}


form {
    background: lightblue;
    position: relative;
    display: grid;
    margin: 100px auto;
    width: 400px;
    border-radius: 10px;
}

label {
    color: #0A3871;
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
}

.correo, .contraseña {
    background: #FFFFFF;
    margin: 0 auto;
    font-size: 15px;
    width: 300px;
    height: 30px;
    border-radius: 4px;
    border: none;
}

#textterminos {
    font-size: 0.7em;
    color: #000000;
}

.enviar {
    color: #FFFFFF;
    height: 30px;
    font-size: 1.2em;
    width: 100px;
    margin: 20px auto;
    border-radius: 7px;
    border: none;
    background: #0A3871;
    cursor: pointer;
}

.enviar:hover {
    font-size: 1.3em;
    transition: 0.5s;
}

.enviar:active {
    background: #D8DFE8;
    color: #0A3871;
}

footer {
    background: #000000;
    padding: 10px 0;
    text-align: center;
}

footer img{
    width: 200px;
}

footer p{
    color: #FFFFFF;
    font-size: 0.8em;
}

/* html de terminos y condiciones*/

#terminosycondiciones {
    width: 400px;
    margin: 50px auto;
    color: #0A3871;
}